<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <div class="images">
    <h2 class="title_gallery">Lucas Lifestyle</h2>
    <img class="beer" src="/images/beer.png" alt="">
    <img class="brazil" src="/images/brazil.png" alt="">
    <img class="Lucas_profile" src="/images/Lucas_profile.png" alt="">
    <img class="married" src="/images/married.png" alt="">
    <img class="travel" src="/images/travel.png" alt="">
    <img class="travel2" src="/images/travel2.png" alt="">
    </div>
    <form class="button" action="/home">
        <input class="button" type="submit" value="Press here to go to the Home Page" />
    </form>
</body>
<link href="http://fonts.cdnfonts.com/css/whois" rel="stylesheet">
</html>