<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <h1 class="title_home">Lucas Zaquine</h1>
    <h2 class="subTitle_home">Curriculum vitae</h2>
    <h3 class="subSubTitle_home">Press the buttons below to know a lit bit about Lucas</h3>
   <!--  <img class="lucas_profile" src="/images/Lucas_profile.png" alt="Lucas Profile"> -->
    <form class="button_home" action="/about">
        <input class="button_home" type="submit" value="About Lucas" />
    </form>
    <form class="button_home" action="/gallery">
        <input class="button_home" type="submit" value="Gallery" />
    </form>
    <form class="button_home" action="/works">
        <input class="button_home" type="submit" value="Lucas work's" />
    </form>
</body>
<link href="http://fonts.cdnfonts.com/css/whois" rel="stylesheet">
</html>