<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
    <h1 class="title_work">Work Experience</h1>
    <div class="blocks_work">
    <div class="blocks1_work">
    <h2 class="subTitle_work">Teacher Assistant</h2>
    <h4 class="subSubTitle_work">set 2022 - now</h4>
    <p class="basicText_work">Track student progress, support them during class and lab time, support them during project time, and support the Lead Teacher during class time and the Program Manager. Correcting dozens of exercises and projects as well.</p>
    </div>
    <div class="blocks2_work">
    <h2 class="subTitle_work">Teacher of English and Portuguese</h2>
    <h4  class="subSubTitle_work">may 2021 - feb 2022</h4>
    <p class="basicText_work">Prepare and teach classes to improve students' reading, writing and speaking skills, Assign activities to facilitate students' consolidation of learning material, Track and report student progress and Kept up-to-date with the learning software</p>
    </div>
    </div>
    <h1 class="title_work">Academic education</h1>
    <div class="blocks_work">
    <div class="blocks1_work">
    <h3 class="subTitle_work">Ironhack</h3>
    <h4 class="subSubTitle_work">Full Stack Web Development, Programming</h4>
    <ul class="basicText_work">
        <li>MERN Stack</li>
        <li>Front end technologies learned: HTML | CSS | TailwindCSS | Bootstrap | JavaScript | ReactJS | HandlebarsJS</li>
        <li>Back end technologies learned: ExpressJS | NodeJS | MongoDB | Bcrypt</li>
        <li>Version Control: Git</li>
    </ul>
    </div>
    <div class="blocks2_work">
        <h3 class="subTitle_work">Estácio</h3>
        <h4  class="subSubTitle_work">Digital Marketing</h4>
        <ul class="basicText_work">
            <li>Deal with the various administrative, planning and strategic tasks involved in running the business.</li>
            <li>Master communication to apply in various spheres of the company.</li>
            <li>Learn the skill of knowing human behavior in diverse conflicts.</li>
            <li>Ability to interpret the economic and cultural contexts of the moment.</li>
        </ul>
    </div>
    </div>
    <h1 class="titleLicense_work">Licenses and Certificates</h1>
    <div class="blocksLicense_work">
        <ol>
            <li>Full Stack Web Development | Company: Ironhack</li>
            <li>Web Development (HTML, CSS, Bootstrap, SASS) | Company: Coderhouse</li>
            <li>Agile Project Management | Company: University of Maryland</li>
            <li>Fundamentos da Gestão de TI | Company: Fundação Getulio Vargas</li>
            <li>Introduction to Project Management | Company: University of Adelaide</li>
            <li>Planejamento do gerenciamento e identificação de riscos em projeto | Company: Fundação Getulio Vargas</li>
            <li>Divemaster (DM) | Company: SSI Scuba Schools International</li>
            <li>Become an Agile Project Manager | Company: Linkedin</li>
        </ol>
    </div>
    <form class="button" action="/home">
        <input class="button" type="submit" value="Press here to go to the Home Page" />
    </form>
</body>
<link href="http://fonts.cdnfonts.com/css/whois" rel="stylesheet">
</html>